:root {
    --text-color: #212121;
    --background-btn: #f5f4fa;
    --btncolor-hover: #2196f3;
    --btntext-hover: #ffffff;
    --font-size: 14px;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    font-size: var(--font-size);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
    margin: 0;

}






.header {
    border-bottom: #ECECEC;
    border: 1px solid #c5c5c5;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.btn-vse, .btn-website, .btn-app, .btn-design, .btn-marketing {
    padding: 0;
}



.nav-items {
    display: flex;
    
}



.contact-items {
    display: flex;
}


.contact-item:not(:last-child) {
    padding-right: 50px;
}


.nav-list {
    display: flex;
    margin: 0;
}

.link-head {
    position: relative;
}

.link-head:not(:last-child)  {
    
    margin-right: 50px;
  

}

.container-nav {
    
    display: flex;
    align-items: center;

}

 .nav-main{
    display: flex;
    align-items: center;
    margin-right: auto;
}
    
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    
}

.mainbtn-item {
    padding: 0;
}

.btn:not(:last-child) {
    padding-right: 8px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 34px;
    
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin-right: 93px;
    
}

.logo-second {

    color: #000000;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: var(--font-size)
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.nav-link:focus,
.nav-link:hover {

    color: var(--btncolor-hover);
}



.nav-icon {
    fill: #757575;
    margin-right: 10px;
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}


.nav-contact:hover .nav-icon,
.nav-contact:focus .nav-icon {
    fill: var(--btncolor-hover);


}

.link-contact:hover .nav-icon,
.link-contact:focus .nav-icon {
    fill: var(--btncolor-hover);
}



.nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    


    
}

.item-contact {
    display: flex; 

}







.link-contact {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.link-contact:hover,
.link-contact:focus,
.nav-contact:hover,
.nav-contact:focus {

    font-weight: 500;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--btncolor-hover);
}



.hero-title {
   
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    padding-bottom: 30px;
    
    
    
  


    
   
}

.hero {
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.png);
    background-position: center;
    background-color: #2f303a;
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: 1600px;
    

    
    
}

.hero-btn {
    

    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    color: #ffffff;
    margin: auto;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.hero-btn:hover,
.hero-btn:focus {
    background: #188ce8;
}



.about-us {

    display: flex;
}




.aboutus-textimg {
    position: absolute;
    height: 70px;
    width: 370px;
    bottom: 0;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 27px;
    text-transform: uppercase;
    

}


.item-about:not(:last-child) {
    margin-right: 30px;
   
}



.about-us-div {
    margin-bottom: 30px;
    background: #F5F4FA;
    display: flex;
    text-align: center;
    justify-content: center;

}

.us-icon-svg {
    height: 120px;
}

.benefits-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 10px;
}

.benefits-text {
    font-family: 'Roboto';
    font-size: var(--font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 50px;

}

.section-about {
    padding-top: 0;
}

.about-img {
    display: flex;
    padding-right: 30px;
 
    margin: 0;
}


.list-img {
    position: relative;
    height: 294px;
}



.list-img:not(:last-child) {
    
    padding-right: 30px;
    display: flex;

}


/* ____________________________________TEAM___________________________________ */
.team {
    background: #f5f4fa;
}


.team-div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 50px;
}

.our-team {
    display: flex;
    margin: 0;
}

.first-team:not(:last-child) {
    margin-right: 30px;
}



.photo-team {
    display: block;
    height: auto;

}

.team-img {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #c5c5c5;
    border-top: 0;
}







.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
    margin-bottom: 16px;
    
}

.team-soc-item {
    display: flex;
    justify-content: center;
}


.team-social-list {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.team-social-list:last-child {
    margin-right: 0;
}

.social-link {
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.social-link:hover, 
.social-link:focus {
    background-color: #2196F3;
}


.social-link:hover .about-icon-svg, 
.social-link:focus .about-icon-svg {
    fill: #FFFFFF;
}






.about-icon-svg {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-svg {
    fill: #fff;
}

/* ______________________________CLIENTS________________________ */


.client-list {
    display: flex;
    margin: 0;
}

.client-item {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}

.client-item:hover .about-icon-svg,
.client-item:focus .about-icon-svg {
    fill: #2196F3;
    
}

.client-item:hover,
.client-item:focus {
    border: 1px solid #2196F3;
    
}





.client-item:last-child {

    margin-right: 0px;
}









/* _____________________________FOOTER_________________ */


footer {
    background: #2f303a;
}


.all-logo {
    display: block;
    padding-top: 60px;
    padding-bottom: 20px;
    
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding-bottom: 9px;
    display: block;
    margin: 0;
    
}

.email-footer {
    padding-bottom: 9px;
    display: block;
}

.tel-footer {
    display: block;
    padding-bottom: 60px;
}

.footer-text {
    font-family: 'Roboto';
    font-size: var(--font-size);
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-text:hover,
.footer-text:focus {
    color: var(--btncolor-hover);
}

.btn-vse {
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    background: var(--background-btn);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.btn-vse:hover,
.btn-vse:focus {

    color: #ffffff;
    background-color: var(--btncolor-hover);
    
}

.btn-website {
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    background: var(--background-btn);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}

.btn-website:hover,
.btn-website:focus {
 
    color: #ffffff;
    background-color: var(--btncolor-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-app {
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    background: var(--background-btn);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-app:hover,
.btn-app:focus {

    color: #ffffff;
    background-color: var(--btncolor-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-design {
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    background: var(--background-btn);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-design:hover,
.btn-design:focus {

    color: #ffffff;
    background-color: var(--btncolor-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-marketing {
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
    background: var(--background-btn);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-marketing:hover,
.btn-marketing:focus {

    color: #ffffff;
    background-color: var(--btncolor-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

button {
    border: none;
    cursor: pointer;
}


.item-portfolio  {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 270px;
  height: 368px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



 
  
}


.item-portfolio:hover,
.item-portfolio:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}



.img-portfolio {
    width: 100%;
    
}


.thumb {
    position: relative;
    overflow: hidden;
    
}

.text-slide {
  
    position: absolute;
    height: 100%;
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    padding: 63px 24px;
    top: 0;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.item-portfolio:hover .text-slide,
.item-portfolio:focus .text-slide {
    transform: translateY(0);
}


.item-portfolio:nth-child(3n)  {
    margin-right: 0px;
  }

  .item-portfolio:nth-child(n + 6)  {
    margin-bottom: 0;
  }

.item-portfolio {
    width: 370px;
    height: 404px;
    background: #ffffff;
  
}


.text-div {
    margin: 20px 24px;
    /* border: 1px solid #eeeeee; */
    
}


.title-portfolio {
    width: 322px;
    height: 36px;
    left: 239px;
    top: 576px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
   margin: 0;
   
}

.text-portfolio {
    width: 322px;
    height: 30px;
    left: 239px;
    top: 616px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
   margin: 0;

    
}

.current {
    color: #ffffff;
    background-color: var(--btncolor-hover);
}

.current-text {
    color: var(--btncolor-hover);
}

.current-text::after {

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--btncolor-hover);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    
}



.container-footer {
    display: flex;
    align-items: baseline;
}


.footer-contact {
    display: block;
}


.soc-footer-title {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    
}

.footer-soc {
    margin-left: 70px;
    margin-right: 93px;
}



.soc-footer-item {
    display: flex;
    margin: 0;
}

.footer-social-list {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-social-list:last-child {
    margin-right: 0;
}


.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.backdrop.is-hidden .modal {
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
}


.modal {
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms;

    
}


.btn-close {
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0px, 1px);
 
    
}


.modal-close-btn {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;    

    
}

.btn-close:hover,
.btn-close:focus {
    fill: #2196F3;
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}




.input-email {
    width: 100%;
    height: 50px;
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);;
    outline: none;
}

.input-email::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
    
    

   
}

.button-footer {

    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;  
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 0;

    
    
}

.footer-form {
    white-space: nowrap;
}

.btn-send {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: 10px;
}

.modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 40px;
    margin-bottom: 12px;
}

.input-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition-property: border, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.input-form:hover + .form-icon,
.input-form:focus + .form-icon {
   fill:  #2196F3;

}

.input-form:hover,
.input-form:focus,
.comment-text:hover,
.comment-text:focus  {
border: 1px solid #2196F3;
border-radius: 4px;
}




.label-modal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    display: flex;
    margin-bottom: 4px;

}

.form-field {
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-field-second {

    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.comment-text {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    resize: none;
    padding: 16px 12px;
    outline: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




.checkbox-form {
    padding-left: 52px;
    padding-right: 52px;
    margin-bottom: 30px;

}

.text-checkbox {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.text-checkbox span {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid #212121;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}

.span-check {
    display: flex;
}

.check-icon {
    fill: transparent;
}



.link-form {
    text-decoration-line: underline;
    color: #2196F3;
    margin-left: auto;
}

.checkbox {
    margin-right: 10px;

}

.btn-form {
    
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    display: flex;
    align-items: center;    
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

}

.btn-form-div {
    margin-bottom: 40px;
}



.btn-form:hover,
.btn-form:focus {
    background: #188CE8;
    
}

.input-wrap {
    position: relative;
}

.form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}




.comment-text::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

}


.checkbox:checked + .text-checkbox span {
    background-color: var(--btncolor-hover);
    border: none;
}